<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress ALL -->
<mapper namespace="indi.viyoung.viboot.mybatis.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="indi.viyoung.viboot.mybatis.entity.User" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_name" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="BaseColumnList" >
        id, user_name, password
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
          <include refid="BaseColumnList" />
        FROM user
    </select>

    <select id="getOne" parameterType="Long" resultMap="BaseResultMap" >
        SELECT
          <include refid="BaseColumnList" />
        FROM
          user
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="indi.viyoung.viboot.mybatis.entity.User" >
       INSERT INTO
       		user
       		(user_name,password)
       	VALUES
       		(#{username}, #{password})
    </insert>

    <update id="update" parameterType="indi.viyoung.viboot.mybatis.entity.User" >
        UPDATE
            user
        SET
            <if test="username != null">user_name = #{username},</if>
            <if test="password != null">password = #{password},</if>
        WHERE
            id = #{id}
    </update>

    <delete id="delete" parameterType="Long" >
       DELETE FROM user WHERE id =#{id}
    </delete>

</mapper>
